<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>937634451549-rqu4ffba5dnkmn0qjmiufik8ge48m39g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.937634451549-rqu4ffba5dnkmn0qjmiufik8ge48m39g</string>
	<key>API_KEY</key>
	<string>AIzaSyA142rXu5mIhZdI5dASwchpryByPKYdRv0</string>
	<key>GCM_SENDER_ID</key>
	<string>937634451549</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rajsajnani.carrental</string>
	<key>PROJECT_ID</key>
	<string>carrental-d4760</string>
	<key>STORAGE_BUCKET</key>
	<string>carrental-d4760.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:937634451549:ios:8d10db40ec577c4f</string>
	<key>DATABASE_URL</key>
	<string>https://carrental-d4760.firebaseio.com</string>
</dict>
</plist>